In [3]:
 import pandas as pd
df = pd.read_csv(r'Downloads\diabetes.csv')
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
...,...,...,...,...,...,...,...,...,...
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [17]:
colname = list(df)
i=colname   
dicts={}

for x in i:
    df_new = df[x].unique()  
    #print(x ,",",len(df_new))
    y =len(df_new)
    #print (y)
    dicts[x] = y
print(dicts)

{'Pregnancies': 17, 'Glucose': 136, 'BloodPressure': 47, 'SkinThickness': 51, 'Insulin': 186, 'BMI': 248, 'DiabetesPedigreeFunction': 517, 'Age': 52, 'Outcome': 2}

In [46]:
import pandas as pd

colname = list(df)
i=colname   
dicts={}

for x in i:
    df_new = df[x].unique()  
    #print(x ,",",len(df_new))
    y =len(df_new)
    #print (y)
    dicts[x] = y
print(dicts)

df1 = pd.DataFrame(list(dicts.items()),columns=['Column_name','Unique_value'])
df1

{'Pregnancies': 17, 'Glucose': 136, 'BloodPressure': 47, 'SkinThickness': 51, 'Insulin': 186, 'BMI': 248, 'DiabetesPedigreeFunction': 517, 'Age': 52, 'Outcome': 2}

                Column_name  Unique_value
0               Pregnancies            17
1                   Glucose           136
2             BloodPressure            47
3             SkinThickness            51
4                   Insulin           186
5                       BMI           248
6  DiabetesPedigreeFunction           517
7                       Age            52
8                   Outcome             2

In [52]:
import pandas as pd
df= pd.read_csv(r'Downloads\diabetes.csv')
df_new= df.iloc[:,0:3]
df_new

     Pregnancies  Glucose  BloodPressure
0              6      148             72
1              1       85             66
2              8      183             64
3              1       89             66
4              0      137             40
..           ...      ...            ...
763           10      101             76
764            2      122             70
765            5      121             72
766            1      126             60
767            1       93             70

[768 rows x 3 columns]

In [55]:
import pandas as pd
df=pd.read_csv(r'Downloads\diabetes.csv')
df_new=df.iloc[:,7:]
df_new

     Age  Outcome
0     50        1
1     31        0
2     32        1
3     21        0
4     33        1
..   ...      ...
763   63        0
764   27        0
765   30        0
766   47        1
767   23        0

[768 rows x 2 columns]

In [65]:
import pandas as pd
df=pd.read_csv(r'Downloads\diabetes.csv')
df_new=df.iloc[50:151,:]
df_new

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
50,1,103,80,11,82,19.4,0.491,22,0
51,1,101,50,15,36,24.2,0.526,26,0
52,5,88,66,21,23,24.4,0.342,30,0
53,8,176,90,34,300,33.7,0.467,58,1
54,7,150,66,42,342,34.7,0.718,42,0
...,...,...,...,...,...,...,...,...,...
146,9,57,80,37,0,32.8,0.096,41,0
147,2,106,64,35,119,30.5,1.400,34,0
148,5,147,78,0,0,33.7,0.218,65,0
149,2,90,70,17,0,27.3,0.085,22,0
150,1,136,74,50,204,37.4,0.399,24,0

In [66]:
import pandas as pd
import numpy as np
df = pd.read_csv(r'Downloads\diabetes.csv')
df['Pregnancies']= np.select(>10)

SyntaxError: invalid syntax (3501669583.py, line 4)

In [85]:
import numpy as np
df = pd.read_csv(r"Downloads\diabetes.csv")
df=df[df['Pregnancies']>10]
df

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
24,11,143,94,33,146,36.6,0.254,51,1
28,13,145,82,19,110,22.2,0.245,57,0
36,11,138,76,0,0,33.2,0.420,35,0
72,13,126,90,0,0,43.4,0.583,42,1
86,13,106,72,54,0,36.6,0.178,45,0
88,15,136,70,32,110,37.1,0.153,43,1
159,17,163,72,41,114,40.9,0.817,47,1
193,11,135,0,0,0,52.3,0.578,40,1
215,12,151,70,40,271,41.8,0.742,38,1
254,12,92,62,7,258,27.6,0.926,44,1
259,11,155,76,28,150,33.3,1.353,51,1
274,13,106,70,0,0,34.2,0.251,52,0
298,14,100,78,25,184,36.6,0.412,46,1
323,13,152,90,33,29,26.8,0.731,43,1
333,12,106,80,0,0,23.6,0.137,44,0
357,13,129,0,30,0,39.9,0.569,44,1
358,12,88,74,40,54,35.3,0.378,48,0
375,12,140,82,43,325,39.2,0.528,58,1
436,12,140,85,33,0,37.4,0.244,41,0
455,14,175,62,30,0,33.6,0.212,38,1
510,12,84,72,31,0,29.7,0.297,46,1
518,13,76,60,0,0,32.8,0.180,41,0
558,11,103,68,40,0,46.2,0.126,42,0
559,11,85,74,0,0,30.1,0.300,35,0
582,12,121,78,17,0,26.5,0.259,62,0
590,11,111,84,40,0,46.8,0.925,45,1
614,11,138,74,26,144,36.1,0.557,50,1
635,13,104,72,0,0,31.2,0.465,38,1
648,11,136,84,35,130,28.3,0.260,42,1
658,11,127,106,0,0,39.0,0.190,51,0
691,13,158,114,0,0,42.3,0.257,44,1
740,11,120,80,37,150,42.3,0.785,48,1
744,13,153,88,37,140,40.6,1.174,39,0
745,12,100,84,33,105,30.0,0.488,46,0

In [81]:
pwd

'C:\\Users\\Tech'